<input type="BUTTON" id="add_button" value="Add User" />
<input type="BUTTON" id="edit_button" value="Edit Selected" />
<input type="BUTTON" id="role_button" value="Add/Edit Role" />
<br />
<table id=users_list width="100%">
</table>
<div id=users_pager></div>

<% content_for :head do %>
  <%= raw(users_jqgrid) %>
<% end %>



<table id="editgrid"></table> 
<div id="pagered"></div> 

<script>

$("#edit_button").click(function(){ var gr = jQuery("#users_list").jqGrid('getGridParam','selrow'); if( gr != null ) 
    $.get('/users/' + gr + '/edit');
 else alert("Please Select Row"); });

$("#add_button").click(function(){ $.get('/users/new') });

$("#role_button").click(function(){window.open("/roles", "Add/Edit Roles", 'width=800, height=500')});

</script>
