<input type="BUTTON" id="add_button" value="Add User" />
<input type="BUTTON" id="edit_button" value="Edit Selected" />
<input type="BUTTON" id="role_button" value="Add/Edit Role" />
<br />
<table id=users_list width="100%">
</table>
<div id=users_pager></div>

<% content_for :head do %>
  <%= raw(users_jqgrid) %>
<% end %>



<table id="editgrid"></table> 
<div id="pagered"></div> 

<script>
//$("#edit_button").click(function(){ var gr = jQuery("#users_list").jqGrid('getGridParam','selrow'); if( gr != null ) {jQuery("#users_list").jqGrid('editGridRow',gr,{height:280,reloadAfterSubmit:false});} else alert("Please Select Row"); });

$("#edit_button").click(function(){ var gr = jQuery("#users_list").jqGrid('getGridParam','selrow'); if( gr != null ) window.location="/users/"+gr+"/edit"; else alert("Please Select Row"); });

$("#add_button").click(function(){ window.location="/users/new"});

//$("#add_button").click(function(){jQuery("#users_list").jqGrid('editGridRow','new',{height:280,reloadAfterSubmit:false})});

$("#role_button").click(function(){window.open("/roles")});

$(window).bind('resize', function() {
    $("#users_list").setGridWidth($(window).width() - 40);
}).trigger('resize');
</script>
